<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
      html,
      body {
        margin: 0px;
        padding: 0px;
        height: 100%;
      }
      #app {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .top {
        flex: 1 0 0;
        height: 0;

        display: flex;
        flex-direction: row;
      }
      .form {
      }
      .data {
        flex: 1 0 0;
        width: 0;
        margin-left: 2rem;
        /* overflow: auto; */
        display: flex;
        flex-direction: column;
      }
      .data .table {
        width: 100%;
        flex: 1 0 0;
        height: 0;
        overflow: auto;
      }
      .bottom {
        flex: 1 0 0;
        height: 0;
        overflow: auto;
        display: flex;
        flex-direction: row;
      }
      .bottom > div:not(.slider) {
        flex: 1 0 0;
        width: 0;
      }
      .bottom > .slider {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="top">
        <div class="form">
          <form action="">
            <table>
              <tr>
                <td>id</td>
                <td>{{bill.id}}</td>
              </tr>
              <tr>
                <td>时间</td>
                <td><input type="date" v-model="bill.date" /></td>
              </tr>
              <tr>
                <td>事项</td>
                <td>
                  <input type="text" ref="name" v-model="bill.name" />
                </td>
              </tr>
              <tr>
                <td>花费</td>
                <td>
                  <input type="number" v-model.number="bill.cost" />
                </td>
              </tr>
              <tr>
                <td>备注</td>
                <td>
                  <textarea v-model="bill.mark" cols="30" rows="10"></textarea>
                </td>
              </tr>
              <tr>
                <td rowspan="2">
                  <button type="button" @click="addBill">新增</button>
                  <button type="button" @click="updateBill">修改</button>
                  <button type="button" @click="clear">清空</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="data">
          <div class="cmd">
            <label for="checkAll">全部</label>
            <input type="checkbox" v-model="checkAll" id="checkAll" />
          </div>
          <div class="table">
            <table>
              <tr>
                <td width="60px">编号</td>
                <td width="100px">时间</td>
                <td width="100px">事项</td>
                <td width="100px">花费</td>
                <td width="200px">备注</td>
                <td>操作</td>
              </tr>
              <tr v-for="(bill,index) in bills_new">
                <td>{{index+1}}</td>
                <td>{{bill.date}}</td>
                <td>{{bill.name}}</td>
                <td>{{bill.cost}}</td>
                <td>{{bill.mark}}</td>
                <td>
                  <button @click="toUpdate(bill)">修改</button>
                  <button @click="removeBill(bill)">删除</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="slider">
          <el-slider
            v-model="limitValue"
            vertical
            :min="0"
            :max="3000"
            height="200px"
          >
          </el-slider>
        </div>
        <div>
          <ve-line
            :data="lineData"
            :extend="extend"
            height="99%"
            width="98%"
          ></ve-line>
        </div>

        <div>
          <ve-pie :data="pieData" height="99%" width="98%"></ve-pie>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  const instance = axios.create({
    baseURL: "http://localhost/bill-rest-app",
  });
  Vue.prototype.$http = instance;
  new Vue({
    el: "#app",
    data: {
      bill: {
        id: "",
        date: "",
        mark: "",
        name: "",
        cost: 0,
      },
      extend: {
        series: {
          label: {
            normal: {
              show: true,
            },
          },
        },
      },
      chartDataLine: {},
      chartDataPie: {},
      bills: [],
      checkAll: false,
      limitValue: 500,
    },
    computed: {
      bills_new() {
        const today = this.getToday();
        return this.checkAll
          ? this.bills
          : this.bills.filter((bill) => bill.date == today);
      },
      lineData() {
        let result = {};
        this.bills
          .filter((bill) => bill.cost <= this.limitValue)
          .forEach((bill) => {
            result[bill.date] = (result[bill.date] || 0) + bill.cost;
          });

        return {
          columns: ["日期", "账单"],
          rows: Object.keys(result)
            .sort()
            .map((x) => {
              return { 日期: x, 账单: result[x] };
            }),
        };
      },
      pieData() {
        let result = {};
        this.bills
          .filter((bill) => bill.cost <= this.limitValue)
          .forEach((bill) => {
            result[bill.name] = (result[bill.name] || 0) + bill.cost;
          });

        return {
          columns: ["事项", "花费"],
          rows: Object.keys(result)
            .sort()
            .map((x) => {
              return { 事项: x, 花费: result[x] };
            }),
        };
      },
    },
    created() {
      this.clear();
      this.search();
    },
    mounted() {
      this.focusNameInput();
    },
    methods: {
      focusNameInput() {
        this.$refs.name.focus();
      },
      clear() {
        let lastDate = localStorage.getItem("lastDate");
        console.log(lastDate);

        this.bill = {
          id: "",
          date: lastDate || this.getToday(),
          mark: "",
          name: "",
          cost: 0,
        };
      },
      async search() {
        let response = await this.$http.get(
          "/bills?_sort=date,id&_order=desc,asc"
        );
        console.log(response);
        this.bills = response.data;
        this.chartDataLine = this.getLineData(this.bills);
        this.chartDataPie = this.getPieData(this.bills);
      },
      getLineData(bills) {
        let result = {};
        this.bills.forEach((bill) => {
          result[bill.date] = (result[bill.date] || 0) + bill.cost;
        });

        return {
          columns: ["日期", "账单"],
          rows: Object.keys(result)
            .sort()
            .map((x) => {
              return { 日期: x, 账单: result[x] };
            }),
        };
      },
      getPieData(bills) {
        let result = {};
        this.bills.forEach((bill) => {
          result[bill.name] = (result[bill.name] || 0) + bill.cost;
        });

        return {
          columns: ["事项", "花费"],
          rows: Object.keys(result)
            .sort()
            .map((x) => {
              return { 事项: x, 花费: result[x] };
            }),
        };
      },
      async addBill() {
        console.log(this.bill);
        const { name, cost, date } = this.bill;
        if (!date) {
          alert("日期不能为空");
          throw "日期不能为空";
        }
        if (!name) {
          alert("事项不能为空");
          throw "事项不能为空";
        }
        if (!cost) {
          alert("花费不能为空");
          throw "花费不能为空";
        }
        await this.$http.post("/bills", this.bill);
        alert("新增成功");
        localStorage.setItem("lastDate", date);
        this.clear();
        this.search();
        this.focusNameInput();
      },
      toUpdate(bill) {
        this.bill = { ...bill };
      },
      async updateBill() {
        console.log(this.bill);
        const { id, name, cost, date } = this.bill;
        if (!id) {
          alert("id不能为空");
          throw "id不能为空";
        }
        if (!date) {
          alert("日期不能为空");
          throw "日期不能为空";
        }
        if (!name) {
          alert("事项不能为空");
          throw "事项不能为空";
        }
        if (!cost) {
          alert("花费不能为空");
          throw "花费不能为空";
        }
        await this.$http.put(`/bills/${id}`, this.bill);
        alert("修改成功");
        this.clear();
        this.search();
        this.focusNameInput();
      },
      async removeBill(bill) {
        if (confirm(`确认删除${bill.date}${bill.name}的花费吗？`)) {
          await this.$http.delete(`/bills/${bill.id}`);
          alert("删除成功");
          this.search();
          this.focusNameInput();
        }
      },
      getToday() {
        return this.dateFormat("YYYY-mm-dd", new Date());
      },
      dateFormat(fmt, date) {
        let ret;
        const opt = {
          "Y+": date.getFullYear().toString(), // 年
          "m+": (date.getMonth() + 1).toString(), // 月
          "d+": date.getDate().toString(), // 日
          "H+": date.getHours().toString(), // 时
          "M+": date.getMinutes().toString(), // 分
          "S+": date.getSeconds().toString(), // 秒
          // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
          ret = new RegExp("(" + k + ")").exec(fmt);
          if (ret) {
            fmt = fmt.replace(
              ret[1],
              ret[1].length == 1 ? opt[k] : opt[k].padStart(ret[1].length, "0")
            );
          }
        }
        return fmt;
      },
    },
  });
</script>
